/* Override styles here */


.flow {
  /* Grundlæggende mellemrum mellem alle elementer */
  > * + * {
    margin-block-start: var(--flow-space, 0.5rlh);
  }

  /* Specifik mellemrum for h1 elementer */
  > h1 {
    --flow-space: 2rlh;
  }

  /* Specifik mellemrum for p elementer */
  > p {
    --flow-space: 1rlh;

    /* Mindre mellemrum efter p elementer når de følges af et andet element */
    + * {
      --flow-space: 0.25rlh;
    }
  }

  /* Specifik mellemrum for div elementer */
  > div {
    --flow-space: 1.5rlh;
  }

  /* Specifik mellemrum for a elementer */
  > a {
    --flow-space: 2rlh;
  }

  > form {
    --flow-space: 1rlh
  }
  

}